{% extends 'base.html' %}

{% block content %}
<div class="buttoncontainer">
    
    <button class="favorite styled" type="button" onClick="Calendar1()" >1반</button>
    <button class="favorite styled" type="button" onClick="Calendar2()" >2반</button>
    <button class="favorite styled" type="button" onClick="Calendar3()" >3반</button>
    <button class="favorite styled" type="button" onClick="Calendar4()" >4반</button>
    <button class="favorite styled" type="button" onClick="Calendar5()" >5반</button>
    <button class="favorite styled" type="button" onClick="Calendar6()" >6반</button>
    <button class="favorite styled" type="button" onClick="Calendar7()" >7반</button>
    <button class="favorite styled" type="button" onClick="Calendar8()" >8반</button>
    <button class="favorite styled" type="button" onClick="Calendar9()" >9반</button>
    <button class="favorite styled" type="button" onClick="Calendar10()" >10반</button>
    <button class="favorite styled" type="button" onClick="Calendar11()" >11반</button>
    <button class="favorite styled" type="button" onClick="Calendar12()" >12반</button>
</div>


{% endblock content %}